//Default image path
$imgPath: '../images';

// Background images for use in surfnpaddle
$coolpost1: "../images/coolpost1.jpg";
$coolpost2: "../images/coolpost2.jpg";
$coolpost3: "../images/coolpost3.jpg";
$coolpost4: "../images/coolpost4.jpg";
$paddleboard: "../images/paddleboard.jpg";
$hero: "../images/hero.jpg";

//posts background
$bgs: $coolpost1, $coolpost2, $coolpost3, $coolpost4;
