//Right sidebar
.author {
  display:block;
  font-size:$xsmall;
  text-align:center;
  @include space-after;
  img {
    transition:$standard;
    width:40%;
    @include is-round;
    &:hover {
      transform:scale(1.2);
    }
  }
  p {
    color:$mdblue;
    font-weight: 700;
    text-transform:uppercase;
  }
  ul li {
    display:inline-block;
    text-align:center;
    a {
      padding:.2rem;
      text-decoration:none;
    }
  }
}

.adphoto {
  width: 100%;
  margin:0 auto;
  @include bp(mobile) {
    width:60%;
  }
}
.adphoto .image-box {
  background:url($paddleboard);
  background-size:cover;
  height:15rem;
  @include bluefilter;
}
.adphoto  a {
  float:right;
  font-size: $xsmall;
  line-height:.8;
  text-transform:capitalize;
  @include space-after;
}

.sidebar {
  @include clearboth;
  p {
    color:$ltgray;
    font-size: $xsmall;
  }
  @include bp(mobile) {
    display:none;
  }
}
